* {
   margin: 0;
   padding: 0;
}

body {
   font-size: 1em;


}

body > h1 {
   color: skyblue;
   font-size: 2em;
}

h2 {
   font-size: 1.2em;
   color: orange;
}


#background {
   /* min-width: 80%; */
   /* min-height: 100%; */
   /* display: inline-block; */
   /* position: relative; */
   margin-left: auto;
   margin-right: auto;
   background-repeat: no-repeat;
   /* background-size: 800px 1000px; */
   border-radius: 5px;
   border: 1px solid white;
   /* transition: 0.4s; */
   /* opacity: 0.8; */
}